$chip-grey: #ebebeb;
$chip-hover: #d5d5d5;
$light: #f4f4f4;
$dark-light: #dedede;
$light-grey: #bcc1c7;
$tab-grey: #adb3b9;
$dark-grey: #8d9195;
$light-black: #4a4a4a;
$lgrey: #aeb3b9;
$primary-red:  #e04646;
